<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-angular"></i><span class="hide-menu">Pages</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
                        <li><a routerLinkActive="active" routerLink="/table">Table</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>